.imagen-flotante {
    position: fixed;
    top: 80%;
    right: 20px; /* Ajusta la distancia desde el borde derecho */
    transform: translateY(-50%);
    background-color: transparent; /* Quitamos el fondo */
    z-index: 9999;
  }
  
  .imagen-flotante img {
    max-width: 150px; /* Tamaño máximo de la imagen */
    display: block;
  }
  

  
  #cerrar {
    display: block;
    padding: 3px 5px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
  }
  